<h1>Ruby chat</h1>

<p>
  Welcome to ruby chat! This is a simple chat application built with Rails 8, Hotwire and Turbo.
</p>

<p>
  It uses PSQL for the database and Vite for the JavaScript bundler.
</p>